*.pyc
*.pyo
python2.7.core
.webassets-cache
.cache
*.swp
*.log
combined.js
combined.css
*.rdb
.project
sitemaps/*.xml
sitemap.xml
.DS_Store
Robots.txt
config/production.cfg
config/staging.cfg
.env
.env.prod
.env.local
.env.staging
*.vscode
.idea
.venv/
env/
selenium_session
*.xlsx
*.png
log.txt
*_log.txt
test_folder